/* resetCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* -----ここから下に記述してください----- */
html{
    font-size:20px;
}
body{
    font-family:europa,"Yu Gothic",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif
}
/* ヘッダー */
.header{
    position: fixed;  /* 固定 */
    width:100%;/*やる意味が不明*/
    left:0;
    top:0;
    z-index:1000;
    background-color:rgb(000,000,000,.5);
}
.header_bg{
    position: relative;
    z-index: 2;
    padding:30px;
}
.header_logo a{
    font-family: cursive;
    display: block;
    text-decoration: none;
    font-size:1.5rem;
    color: #fff;
}
.header_cat{
    display: flex;
    flex-wrap: wrap;/*やる意味不明*/
    justify-content: space-between;
    align-items: center;
}
.header_cat input,
.header_cat label{
    display: none;
}
.header_nav_list{
    display: flex;
}
.header_nav_item span{
    position: relative;
}

.header_nav_item span:after{
    content:"";
    position: absolute;
    bottom:-10px;
    left:50%;
    width:0;
    height: 1px;
    background:#fff;
    opacity: 0;
    transition:all .8s cubic-bezier(.19,1,.22,1);
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.header_nav_item:hover span:after{
    opacity: 1;
    left:0;
    width:100%;
}
.header_nav a{
    text-decoration: none;
    padding-left:20px;
    padding-right:20px;
    font-size:1rem;
    color:#fff;
}
/* ヘッダーここまで */
/* キービジュアル */
.mainKv{
    position: relative;
    background: url(../../assets/images/kv.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    min-height: 660px;/*解説みる*/
}
.mainKv_title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*図形を移動*/
    font-family: fantasy;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 10px 10px 5px #000;/*解説をみる*/
}
/* キービジュアルここまで */
/* コンセプトカテゴリ */
.mainContent_cat{
    margin-bottom: 120px;   /* カテゴリ共通クラス */
}
.mainContent_inner{/* カテゴリ共通クラス */
    max-width: 1080px;
    margin:auto;
    padding:120px 0 0;
}
.mainContent_title{/* カテゴリ共通クラス */
    font-family: fantasy;
    position: relative;/* after用 */
    font-size:1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}
.mainContent_title:after{
    content:"";
    transform: translateX(-50%);/* なくてもそんなに変わらない */
    position: absolute;
    bottom:0;
    left:50%;
    width: 20px;
    height: 2px;
    border-bottom: 2px solid;
}
.concept_cat {/* 写真とテキストを横並び */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.concept_img { /* 50%はconcept_catの50％ 40PXをなくすとくっつく */
    width: calc(50% - 40px);
}
.concept_img > img {
    width: 100%;
}
.concept_text {
    width: calc(50% - 40px);
    height: 630px;
    overflow-y: auto;/* テキストを箱にいれる　高さの指定必須 */
}
.mainContent_subTitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.mainContent_subTitle::before,
.mainContent_subTitle::after {
    display: inline-block;
    content: "";
    vertical-align: 5px;
    width: 32px;
    height: 2px;
    background-color: #000;
}
.mainContent_subTitle::before {
    margin-right: 8px;/* テキストから少しだけ離す */
}
.mainContent_subTitle::after {
    margin-left: 8px;/* テキストから少しだけ離す */
}
.concept_sentence p {
    margin-bottom: 16px;
}

/* アプリケーションカテゴリ */
.application.mainContent__cat {
    margin-bottom: 240px;
}
.application_cat{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    /*注意 一番下に揃える
    グレーのbefore要素はbottom-100としている
    文字はちゃんとflex-endになっている */
}
.application_img{
    width: 60%;/* 画像エリアは60％ */
}
.application_img_bg{
    background: url(../../assets/images/main_02.jpg);
    /*imgではなく背景でセット */
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;/*後ろのbefore要素のため*/
    display: inline-block;
}
.application_area{
    width: 40%;/* テキストエリアは40％ */
}
.application_area_inner{
    padding-left: 40px;
    position: relative;
}
.application_area_inner::before{/*後ろのグレー色を表現*/
    width: calc(100% + 200px);/*100%=全体の40％部分＋200pxではみ出す*/
    content: "";
    position: absolute;
    background-color: #f4f4f4;
    height: calc(100% + 200px);/*100%=全体580px部分＋200pxではみ出す*/
    right: 0;
    bottom: -100px;/*下マイナス*/
    z-index: -1;/*背面へ*/
}
.application_area .mainContent_subTitle{
    text-align: left;
}
.application_sentence p{
    line-height: 2;
}
.application_sentence p:first-letter{/*最初の文字だけ大きく*/
    font-weight: bold;
    font-size: 1.2rem;
}

/* ギャラリーカテゴリ */
.gallery_cat{
    background-image: url(../../assets/images/main_03.jpg);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.gallery_mask{/* 背景画像にマスクをするだけのdiv */
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.6);
}
.gallery_container{
    padding:70px 0;
    width:70%;  /* 幅70％で残り自動マージン */
    margin: auto;
}
.gallery_sentence {
    line-height: 2;
    font-weight: bold;
    word-break: break-all;/* 言語に関係なく表示範囲に合わせて改行/単語の途中で改行もある*/
}
/* カードカテゴリ */
.card .mainContent__inner {
    max-width: 1280px;
    padding: 0;
}
.contact .mainContent__inner {
    padding: 0;
}
.card_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card_list{
    width:calc((100% / 3) - 16px);
    padding-right: 16px;
    margin-bottom: 60px;
}
.card_title{
    font-size:1.1rem;
    margin-bottom: 16px;
}
.card__list:nth-child(3n) {/* 3nで3の倍数の子要素に適用 */
    padding-right: 0;
}
.card__list:nth-child(n+4) {
    margin-bottom: 0;
}
.card_img{
    margin-bottom: 16px;
    border:2px solid;
}
.card_img img{
    display: block;
    width: 100%;
    height: 600px;
    padding:4px;
    object-fit: cover;
    /*比を維持したまま、要素のコンテンツボックス全体を埋めるように拡大縮小
    オブジェクトのアスペクト比がボックスのアスペクト比と合わない場合は、
    オブジェクトの方が合うように切り取られる*/
}

/* コンタクトカテゴリ */
.contact .mainContent_inner{
    padding: 0;
} 
.contact .contact_item{
    margin-bottom: 40px;
}
.contact dt{
    margin-bottom: 8px;
}
.contact_lavel::after{
    content:"*";
    margin-left:8px;
    color:red;
}
.contact input{
    height: 50px;
    padding:12px;/* inputの中身 */
    border:1px solid #eeeeee;
    display: block;
    width: 100%;
    font-size:16px;
    font-weight: bold;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition:border-color ease-in-out .15s,
    box-shadow ease-in-out .15s,
    -webkit-box-shadow ease-in-out .15s;
}
.contact textarea{
    padding: 24px;
    border:1px solid #eeeeee;
    display: block;
    width: 100%;
    font-size:16px;
    font-weight: bold;
    line-height: 1.4;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition:border-color ease-in-out .15s,
    box-shadow ease-in-out .15s,
    -webkit-box-shadow ease-in-out .15s;
    height: auto;
}
.contact_btn{
    cursor: pointer;
    background: #fff;
    color: #555;
    border: 1px solid #cdcdcd;
    text-transform: uppercase;/* テキストを大文字に変えるSUBMIT */
    transition: all 0.25s ease-in-out;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 40px;
    display: block;
    margin: 108px auto 0;
    width: 300px;
    height: 60px;
    border-radius: 3px;
}
.contact input::placeholder,
.contact textarea::placeholder {
    font-weight: normal;
}
.contact__btn:hover {
    color: #fff;
    background: #555;
}
/* FAQ */
.faq_inner{
    margin:0 auto 100px;
    padding:60px 90px;
    background-color: rgba(194,194,208,.1);
}
/* フッター */
.footer{
    padding: 16px;
    font-size:.8rem;
    text-align: center;
}
.faq_checkbox{
    display: none;
}
.faq_label{
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    padding:24px;
    background-color: #fff;
    font-size:16px;
    box-shadow: 0 10px 55px rgba(0,0,0,.05);
    position: relative;
}
.faq_label::after{
    content:"";
    /* 配置 */
    top:50%;
    right:24px;
    transform:translateY(-50%);
    position: absolute;
    /* 背景 */
    background: url(../../assets/images/faq_off.svg) no-repeat 50%;
    background-size: contain;
    /* 指定しないと反映しない */
    width: 25px;
    height: 25px;
}
.faq_checkbox:checked + .faq_label::after {
    background: url(../../assets/images/faq_on.svg) no-repeat 50%;
    background-size: contain;
}
.faq_accordion{
    max-height: 0;
    overflow-y: hidden;
    transition: all .5s;
}
.faq_checkbox:checked + .faq_label + .faq_accordion {
    max-height: 120px;
    visibility: visible;
}
.faq_answer{
    background-color: rgba(37,117,252,.8);
    padding: 40px 24px 40px 3em;
    color: #fff;
    font-size: 16px;
    text-indent: -1em;
}
/* モーダル */
[data-modal="trigger"]{
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin:24px;
    color:#108de8;
}
[data-modal="trigger"]::after{
    content:"忍者コードを知る"
}
/* チェックボックスにチェックが入ったら */
.modal_checkbox:checked ~ [data-modal="trigger"]::after {
    content: "モーダルを閉じる";
}
.modal_checkbox:checked ~ [data-modal="trigger"] {
    z-index: 1;
    position: fixed;
    bottom: 130px;
}
.faq_modal{
    display: none;
}
/* チェックボックスにチェックが入ったら */
.modal_checkbox:checked ~ .faq_modal {
    display: block;
}
.faq_modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
/* 背景薄黒に */
.faq_modal_overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
}
.faq_modal_content{
    position:absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 400px;
    padding: 20px 30px;
    background-color: #fff;
}
.faq_modal_content_title{
    padding:16px 0 32px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
}
.modal_checkbox {
    display: none;
}
/* メディアクエリ */
@media screen and (max-width: 768px) {
    html{
        font-size:16px;
    }
    /* ヘッダー */
    .header_bg{
        padding:10px;
    }
    .header_logo a{
        font-size:1.2rem;
    }
    /*ハンバーガーメニュー */
    .header_cat input, .header_cat label {
        display: block;/*隠していたインプットとラベルを表示 */
    }   
    .header_cat input{
        display: none;
    }
    .header_cat label{/*三本線の場所 */
        position:absolute;
        right:10px;
        clear:both;
    }
    span.hamburger_icon{/*三本線の箱 */
        display:inline-block;
        width:35px;
        height:25px;
    }
    /* span.humbergurのスペース開けてはNG */
    span.hamburger_icon i{/*iを作成 */
        position:absolute;
        width:100%;
        height:2px;
        background-color: #fff;
        display: block;
        transition: all .3s ease-in-out;/*動き */
    }
    span.hamburger_icon i:nth-child(1){
        top:0;
    }
    span.hamburger_icon i:nth-child(2){
        margin: auto;/*上下中央に */
        top:0;
        bottom:0;
    }
    span.hamburger_icon i:nth-child(3){
        bottom:0;
    }
    /* inputにチェックが入って、＋隣接セレクタその直後に出現するの要素 */
    .header_cat input:checked + label span.hamburger_icon i:nth-child(1){
        margin:auto;
        transform: rotate(45deg);/*1本目は45度斜めに */
        right:0;
        bottom:0;
        left:0;
        top:0;
    }
    .header_cat input:checked + label span.hamburger_icon i:nth-child(2){
        transform: rotateX(90deg);/*2本目はX軸を中心に90度に回転させる？ */
        top: 0;
        bottom: 0;
    }
    .header_cat input:checked + label span.hamburger_icon i:nth-child(3){
        margin:auto;
        transform: rotate(-45deg);/*3本目は45度斜めに */
        top: 0;
        right: 0;
        bottom: 0;
    }
    .header_cat input:checked ~ .header_nav{
        /*〜は同じ階層の後に続く要素 */
        z-index: 99;/*チェックが入ったら前に出る */
        opacity: 1;
        transform: translateX(0);
    }
    .header_nav{
        /*header_navを裏に隠す */
        position: fixed;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.7);
        top: 50px;
        right: 0;
        transform: translateX(100%);
        bottom: 0;
        left: 0;
        z-index: -1;
        transition: all 1s ease-out;
    }
    .header_nav_wrap{
        width: 100%;
        background-color: #fff;
        position: absolute;
        right: 0;
        top: 0px;
        bottom: 0;
        transition-duration: 1s;
        transition-property: right;
        overflow-y: scroll;
    }
    .header_cat input:checked ~ .header_nav .header_nav_wrap{
        right: 0;
    }
    .header_nav_list {
        margin: 0;
        display: block;
        justify-content: inherit;
    }
    .header_nav_item {
        border-bottom: 1px solid #000;
    }
    .header_nav_item a{
        padding: 0 50px;
        color: #000;
        font-size: 24px;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-weight: 700;
        line-height: 1;
        transition: background-color .3s ease-in-out;
    }

    .mainKv_wrap{/*？？？ */
        height: 100vh;
        background-position: center right -200px;
    }
    .mainKv_title {
        width: 100%;
        text-align: center;
    }
    .mainKv_title h1 {
        font-size: 2.6rem;
    }
        /* メインコンテンツ */
    .mainContent_cat {
        margin-bottom: 60px;
    }
    .mainContent_inner {
        padding: 60px 24px 0;
    }
    .concept_cat {
        display: block;
        /* display:flexを消している。鉄板 */
    }
    .concept_img {
        width: 100%;
        margin-bottom: 30px;
    }
    .concept_text {
        width: 100%;
        height: 400px;
    }
    .application_cat {
        display: block;
        /* display:flexを消している */
    }
    .application_img {
        width: 100%;
        /* 元々calcで計算していた値を100％に戻す。パターン多い */
    }
    .application_img_bg {
        height: 500px;
    }
    .application_area {
        width: 100%;
    }
    .application_area_inner {
        padding: 30px 24px;
        background-color: #f4f4f4;
    }
    .application_area_inner::before {
        content: none;
    }
    .application_area .mainContent_subTitle {
        text-align: center;
    }
    .application.mainContent_cat {
            margin-bottom: 60px;
    }
    .gallery_container {
        padding: 30px;
        width: auto;
        height: calc(100% - 60px);
    }
    .card_wrap {
        display: block;
        padding: 0 24px;
    }
    .card_list {
        width: 100%;
        padding-right: 0;
    }
    .card_list:nth-child(n+4) {
        margin-bottom: 48px;
    }
    .card_title {
        font-size: 1.3rem;
    }
    .card_img img  {
        height: 500px;
    }
    .contact .mainContent_inner {
        padding: 0 24px;
    }
    .contact_btn {
        margin: 60px auto;
    }
    /* faq */
    .faq_inner{
        padding:20px 30px;
    }
    .faq_label{
        padding:24px 36px 24px 24px;
    }
    .faq_label::after{
        right:16px;
        width:18px;
        height:18px;
    }
    .faq_checkbox:checked + .faq_label + .faq_accordion {
        max-height:224px;
    }
    .modal_checkbox:checked ~ [data-modal="trigger"] {
        bottom:72px;
    }
    .faq_modal_content {
        overflow-y: auto;
    }
}